@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto&display=swap');

body { 

    margin: 0;
    padding: 0; 
    border: 0; 
    color: whitesmoke;
    text-transform: uppercase;
    background-color: #1C1C1C;
    font-family: 'Roboto', sans-serif;
  
 
}


.principal { 
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 300px;
    height: 365px; 
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left:-150px;
    margin-top: -150px;
    border-radius: 25px ;
}

.principal:hover { 
background: #ff9966;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.background { 
    margin-top: 40px;
    padding: 25px;
    padding-top: 0px;
    
}

.buttom { 
    background-color: black;
    width: 50px;
    height: 50px;
    position: fixed; 
    right: 0;
    bottom: 0;
    left: 1200;
    
  
}

.scroll { 

    width: 50px;
    height: 1000px;
    background-color: blueviolet;
   
}

.textAltura { 
   text-align: center;
    margin: 1px; 
    margin-top: 15px;
    margin-bottom: 4px;
}

.textPeso { 
    margin-top: 5px;
    margin: 1px; 
    text-align: center;
    margin-bottom: 4px
}

.btncalc { 

    margin-top: 15px;
}

.title-calc { 

    text-align: center;

}

.btncalc { 
    text-align: center;
    border: none; 
    width: 100px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.23);
    
    
}

.resultado { 
    text-align: center;
}

#in2,#in1 { 
    border: none;
    padding: 5px; 
    border-radius: 5px;
    width: 150px;
    height: 20px;
    text-align: center;
    box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.23);

    
    
}

.btnDiv { 

    text-align: center;
    

}

.divin1,.divin2 { 
    text-align: center;
}

#numcalc { 

    font-size: larger;
}
